body, html, main, .top-bar, .site-header {
  width: 100%;
}

main {
  padding: 20px 0;
}

* {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

header, div, main, footer {
  font-size: 0;
}

p, a, h1, h2, h3, h4, h5, strong, button {
  font-size: 16px;
  color: #4D4D4D;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  border-color: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

.top-bar {
  background-color: #148DD9;
  padding: 8px 40px;
}

.top-bar a, .top-bar a strong {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
}

.top-bar a strong {
  font-weight: 700;
  line-height: normal;
}

.site-title, .top-bar__menu, .top-bar__menu li, .site-logo__wrapper, .user-menu__wrapper {
  display: inline-block;
  vertical-align: top;
}

.site-title, .site-logo__wrapper, .user-menu__wrapper {
  width: 50%;
}

.top-bar__menu {
  width: 50%;
  text-align: right;
}

.top-bar__menu li {
  margin-left: 20px;
}

.site-header {
  background-image: url(img/hero-bg.svg),linear-gradient(247.06deg,#ffc601 16.55%,#ff782f 90.3%);
  background-repeat: no-repeat;
  background-size: cover;
  padding:15px 40px 0 40px;
}

.site-logo__wrapper {
  vertical-align: bottom;
}

.site-logo {
  border-radius: 4px 4px 0 0;
  width: 170px;
  height: 60px;
  background-color: white;
  margin-left: -10px;
  text-align: center;
  padding-top: 12px;
}

.user-menu__wrapper {
  text-align: right;
}

.user-menu, .user-menu__profile, .user-menu__points, .user-menu__inbox {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
}

.user-menu {
  background: white;
  border-radius: 4px;
  text-align: left;
  position: relative;
  padding: 6px 2px 8px 28px;
}

.user-menu__profile {
  width: 46px;
  height:46px;
  border-radius: 50%;
  overflow: hidden;
  outline: 3px solid white;
  top: -2px;
  left: -25px;
  position: absolute;
}

.user-menu__profile img {
  vertical-align: top;
  position: relative;
  width: 46px;
  height:46px;
}

.user-menu__points {
  font-weight: 700;
  margin-right: 22px;
}

.content__menu__container {
  padding: 0 110px;
  border-bottom: 1px solid #C5D3DC;
}

.content__menu a {
  font-size: 18px;
}

.content__menu a:active, .content__menu a:hover, .content__menu a:focus {
  color: #0476D9; 
}

.content__menu .active a {
  font-weight: 700;
  color: #0476D9;
}

.content__menu .active {
  border: 1px solid #C5D3DC;
  border-bottom: none;
  background: white;
}

.content__section__container {
  padding: 20px;
}

.content__menu--item {
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  top: 1px;
}